
*{
    margin: 0;
    padding: 0;
}  
body
{
    background-color:black;
}
.topbtn
{
    display:flex;
    width: 35px;
    height: fit-content;
    position: fixed;
    padding: 5px;
    border-radius:60%;
    background-color: initial;
    right: 20px;
    bottom: 70px;
    text-decoration: none;
    justify-content: center;
    font-size: 2em;
    color: white;
    background-color: rgb(26, 82, 138);
}
.topbtn:active
{
    background-color: rgb(205, 94, 50);
}
/*navbar*/
.nav
{   
        top: 0;
        position:sticky;
        z-index: 0.2;
        opacity: 1.2;
        width: 100%;
        height: fit-content;
        background:url('../img/bg4.jpg');
       
        border: 0px;
        display:flex;
}
#navlinks
{
    list-style-type: none;
    display: none;
    align-content: center;
    right: 5;
}


.btn
{
    padding: 15px 2px;
    border: 0;
    background-color: inherit;
}
.title{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    color: green;
    font-size:30px;
    font-weight: 500;
    margin:40px 20px;
   
    text-decoration: none;
    align-content: left;
    align-items: center;
}
.title:hover{
    color: rgb(167, 190, 172);
}

.items
{
    font-family:sans-serif;
    font-size:20px;
    display: flex;
    align-items: center;
    padding: 5px 30px;
}
.navlinks a{
    text-decoration: none;
    
    color: whitesmoke;
}
.navlinks a:hover{
    color:green;
}

/* main */
.img{
    max-width:350px;
    max-height: 280px;
    border-radius: 150px;
    margin:45px 30px;
    float:left;
}
.main{
    width: 100%;
    display: flex;
    background:url('../img/bg4.jpg');
    position: relative;
}
.intro{
    display: flex;
    align-content:center;
    margin:20px 5px;
    flex-wrap: wrap;
}
.frontline
{
    color: rgb(180, 216, 238);
    display: flex;
    font-size: 0.1em;
    font-family: 'Merienda', cursive;
    font-weight: 500;
    margin-left: 25px;

    margin: 20px 20px;
    align-self: center;
    animation-name: frontline;
    animation-duration: 3s;

    animation-iteration-count: infinite;
    animation-delay: 3s;
}

/* The animation code */

@media screen and (min-width: 601px) 
{
    @keyframes frontline{
    from {font-size:0.1em;color: rgb(252, 252, 252);}
    to {font-size:2.1em;color: rgb(201, 147, 85);}
    
  }
}
  @media screen and (max-width: 1115px) 
  {
    @keyframes frontline{
        from {font-size:0.1em;color: rgb(252, 252, 252);}
        to {font-size:1.1em;color: rgb(201, 147, 85);}
        
  }

  .title{
    margin: 40px 30px;
}
  .topbtn{
      right: 30px;
      bottom:40px;
  }
  }
.para
{
    font-size: 1.5em;
    font-family: 'Charm', cursive;
    color: rgb(150, 182, 201);
    margin: 5px 15px;
}

/* media queries for intro*/
/* If the screen size is 601px wide or more, set the font-size of <div> to 80px */
@media screen and (min-width: 601px) {
    div.example {
      font-size: 80px;
    }

  }

  /* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 1115px) {
    div.example {
      font-size: 30px;
    }
    
    .intro{
        flex-wrap: wrap;
        font-size: 1.3em;
    }
    .main{
        flex-wrap: wrap;
    }
    .frontline
    {
        font-size: 2.0em;
    }
    .para
    {
        font-size:0.9em;
    }
  }


/* about us */

.article 
{
    margin: 20px 10px;
    padding: 30px 0px;
  
}
.article p 
{
    color: rgb(101, 139, 209);
    font-family: 'Merienda', cursive;
    padding: 10px 15px;
    line-height: 45px;
}
.orderbtn
{
    text-decoration:none;
    color:aliceblue;
    background-color:rgb(56, 147, 207);
    padding: 10px;
    border-radius:10px;
    
}
.orderbtn:hover
{
    background-color: yellowgreen;
    color: black;
}

/* services */

#services
{
    background:url('../img/bg1.jpg');
    height: fit-content;
    width: 100%;
    padding: 20px 0px;
    margin-bottom: 0px;
}
#services h2
{
    color:rgb(228, 173, 122);
    font-family: 'Merienda', cursive;
    display: flex;
    justify-content: center;
    padding: 25px 0px;
    font-size: 2.5em;
    font-weight: 500;
    margin-bottom: 5px;
}
.services
{
    display: flex;
    justify-content: center;
}
.caption{
    display: flex;
    justify-content: center;
    color: rgb(228, 173, 122);
    font-family:'Charm', cursive ;
    margin-top: 5px;
    font-size:1.3em;
}
.ser-blocks
{   
    padding:30px 100px;
    display:block;
}

.ser-logo
{
    display: flex;
    flex-wrap: wrap;
    width: 13em;
    height:13em;
    border-radius: 50px;
}

.ser-logo:hover
{
    width: 15em;
    height:15em;
}

@media screen and (max-width: 1115px)
{
    .img{
        width:17em;
        height: 17em;
        display: flex;
        justify-content: center;
        padding: 20px;
    }
 
    #services h2
    {
        font-size: 2.1em;
    }
    .services
    {
        display: flex;
        flex-wrap: wrap;
        
    }
    
    .ser-logo{
        width: 12em;
        height:12em;
    }
    .caption
    {   
        display: flex;
        justify-content: center;
        font-size: 1.1em;
    }
  
}



/* contact */
#contact{
    background:url('../img/bg5.jpg');
    height:fit-content;
    padding: 30px 0px;
    padding-top:50px;
}

.links
{
    color:white;
    padding:30px 35px;
    font-size: 1.3em;
    text-decoration: none;
    font-family: 'Merienda' ;
}
.social
{   
    display: flex;
    flex-wrap: wrap;
    padding: 20px 20px;
}

.logo1
{
    border-radius: 50px;
    width: 40px;
    height: 40px;
    padding: 20px 20px;
}
.logo
{
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 150px;
    width: 40px;
    height:40px;
    padding: 20px 20px;
}
.span{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    bottom: 0;
    color:white;
    font-size:1.2em;
    padding:5px 30px;
    font-family: Helvetica;    
}

@media screen and (max-width: 1115px)
{
    #contact{
            display: block;

        }
    .links
    {
        display: flex;
        justify-content: center;
        font-size: 1.1em;
        padding:5px 15px;
    }
    .social{
        display: flex;
        justify-content: center;
    }
    .span{
        
    font-size:1.0em;
    }
    .title{
        display: flex;
        justify-content: center;
        padding: 20px;
        margin: 0px;
    }
    
}

html{
    scroll-behavior:smooth;
}

@media screen and (max-width: 391px)
{
    body{
        padding:0;
        margin:0;
    }
    .img
    {
        width:70vw;
        height: 70vw;
    }
}
